<a href="https://colab.research.google.com/github/ruslanTankist/ml_works/blob/main/HW4_Titanic_Binary_Classifier/%D0%94%D0%974.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Используйте классический датасет с Kaggle: Titanic: Machine Learning from Disaster | Kaggle (либо возьмите его из Seaborn) и постройте бинарный классификатор (любой). Суть задания - попробовать разные фичи, предобработать имеющиеся, создать новый, попрактиковаться в работе с данными.

Используйте 10% от train.csv в качестве тестовой части и делитесь своими результатами!

In [ ]:
from google.colab import files
# files.upload() #kaggle.json

!pip install -q kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json

!kaggle competitions download -c titanic

!ls

Saving kaggle.json to kaggle.json
kaggle.json
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.9 / client 1.5.4)
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 42.3MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 6.80MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 26.3MB/s]
gender_submission.csv  kaggle.json  sample_data  test.csv  train.csv

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing

In [ ]:
df = pd.read_csv("train.csv")
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df.shape

(891, 12)

In [ ]:
df['Cabin'].isna().sum()
df.fillna(method='backfill', inplace=True)

In [ ]:
le = preprocessing.LabelEncoder()
df['Sex'] = list(map(lambda x: str(x), df['Sex']))
df['Sex'] = le.fit_transform(df['Sex'])
df['Embarked'] = list(map(lambda x: str(x), df['Embarked']))
df['Embarked'] = le.fit_transform(df['Embarked'])

In [ ]:
X_train = df.iloc[0:801, [2, 4, 5, 6, 7, 9, 11]]
X_train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2

In [ ]:
y_train = df.iloc[0:801, 1]
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [ ]:
X_test = df.iloc[801:891, [2, 4, 5, 6, 7, 9, 11]]
y_test = df.iloc[801:891, 1]

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
pred = model.predict(X_test)

In [ ]:
np.unique([y_test == pred], return_counts = True)

(array([False,  True]), array([15, 75]))

In [ ]:
75/(75+15)

0.8333333333333334